nav{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(209, 209, 209);
}
main a{
    color: rgb(209, 209, 209);
}
nav a:hover{
    text-decoration: underline;
    color: white;
}
body{
    background-color: rgb(31, 30, 30);
    color: white;
}

